.helpBg {
	-fx-background-image: url("../res/help_background.jpg");
}

.button {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #fbede2;
}

#menu {
    -fx-background-image: url("../res/return_icon.png");
}

#menu:hover {
    -fx-background-image: url("../res/return_icon_hover.png");
}

#text {
    -fx-background-color: #cb8850;
}
.content {
    -fx-background-color: #fef6ef;
}
.increment-button , .decrement-button{
    -fx-background-color: #ed8d5a;
}
.scroll-bar:vertical .thumb{
    -fx-background-color: #fdefeb;
}
.scroll-bar:vertical .track{
    -fx-background-color: #f2ad88;
}
