.menuBg {
	-fx-background-image: url("../res/menu_background.jpg");
}

.button {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#playGame {
    -fx-background-image: url("../res/menu_button1_default.jpg");
}

#playGame:hover {
    -fx-background-image: url("../res/menu_button1_hover.jpg");
}

#quit {
    -fx-background-image: url("../res/menu_button2_default.jpg");
}

#quit:hover {
    -fx-background-image: url("../res/menu_button2_hover.jpg");
}

#helpButton {
    -fx-background-image: url("../res/help_icon.png");
    -fx-background-color: #fbede2;
}

#helpButton:hover {
    -fx-background-image: url("../res/help_icon_hover.png");
}
